
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.title {
    background-color: rgba(0, 139, 139, 0.8);
    padding: 10px 15px;
    width: 100%;
   
}
.menu-container{
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu{
    border: 1px solid #fff;
    width: 900px;
    display: felx;
    justify-content: flex-start;
}

.links{
    border: 1px solid #fff;
    float: right;
    display: flex;
    width: 225px;
    justify-content: space-between;
    
}
.Main-page{
    margin-left: 20px;
}
.Database-Demos{
    margin-left: auto;
}

.header-container{
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}
.header{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    align-self: flex-end;
    margin-bottom: 20px;
    
}
.logo{
    align-self: center;
}
.subscribe{
    border: 1px solid #5995DA;
}
.photo-grid-container{
    display: flex;
    justify-content: center;
}
.photo-grid{
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}
.photo-grid-item{
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}
.firt-item{
    order: 1;
}
.last-item {
  order: -1;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.footer-item{
    border: 1xp solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}
.footer-one, .footer-three{
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}


 /* Mobile Styles */
 @media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .sign-up {
      height: 200px;
      order: 1;
    }
    .content {
      order: 2;
    }
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
}
.page {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  background-color: #5995DA;
  height: 80px;
}

.header {
  background-color: #B2D6FF;
}

.content {
  background-color: #EAEDF0;
  height: 600px;
}

.sign-up {
  background-color: #D6E9FE;
}
.feature-1 {
  background-color: #F5CF8E;
}

.feature-2 {
  background-color: #F09A9D;
}

.feature-3 {
  background-color: #C8C6FA;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}